---
import { Image } from 'astro:assets';
import Yerba from '../images/canarias-500.webp';
---

<section class="flex flex-col w-full h-full items-center">
    <h2 class="text-center text-[2.8rem] font-bold text-primary pb-5">Nuestros Productos</h2>
    <div class=" bg-secondary rounded justify-center w-[768px] align-middle mb-5 border-primary border-4">
        <div class="flex flex-row items-center">
            <Image src={Yerba} alt='package canarias 500' width={300} height={225} class='rounded-lg mx-3 p-4' />
            <p class="text-primary text-xl ">Aca podria ponerse una descripcion que se yo ustedes saben</p>
        </div>
    </div>
    <div class=" bg-secondary rounded justify-center w-[768px] align-middle mb-5 border-primary border-4">
        <div class="flex flex-row items-center">
            <Image src={Yerba} alt='package canarias 500' width={300} height={225} class='rounded-lg mx-3 p-4' />
            <p class="text-primary text-xl ">Aca podria ponerse una descripcion que se yo ustedes saben</p>
        </div>
    </div>
    <div class=" bg-secondary rounded justify-center w-[768px] align-middle mb-5 border-primary border-4">
        <div class="flex flex-row items-center">
            <Image src={Yerba} alt='package canarias 500' width={300} height={225} class='rounded-lg mx-3 p-4' />
            <p class="text-primary text-xl ">Aca podria ponerse una descripcion que se yo ustedes saben</p>
        </div>
    </div>
    <div class=" bg-secondary rounded justify-center w-[768px] align-middle mb-5 border-primary border-4">
        <div class="flex flex-row items-center">
            <Image src={Yerba} alt='package canarias 500' width={300} height={225} class='rounded-lg mx-3 p-4' />
            <p class="text-primary text-xl ">Aca podria ponerse una descripcion que se yo ustedes saben</p>
        </div>
    </div>
    <div class=" bg-secondary rounded justify-center w-[768px] align-middle mb-5 border-primary border-4">
        <div class="flex flex-row items-center">
            <Image src={Yerba} alt='package canarias 500' width={300} height={225} class='rounded-lg mx-3 p-4' />
            <p class="text-primary text-xl ">Aca podria ponerse una descripcion que se yo ustedes saben</p>
        </div>
    </div>
    <div class=" bg-secondary rounded justify-center w-[768px] align-middle mb-5 border-primary border-4">
        <div class="flex flex-row items-center">
            <Image src={Yerba} alt='package canarias 500' width={300} height={225} class='rounded-lg mx-3 p-4' />
            <p class="text-primary text-xl ">Aca podria ponerse una descripcion que se yo ustedes saben</p>
        </div>
    </div>
</section>